body {
    /*background-image: url("photos/background22.jpg");*/
    margin: 0;
}

.header {
    color: white;
    background-color: black;
    padding-right: 4%;
    z-index: 1;
    position: fixed;
    overflow: no-display;
    width: 96%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    margin-left: 5vw;
    font-size: 2vh;
    font-family: Georgia, "Times New Roman", serif;
    text-decoration: underline;
    font-weight: bold;
    /*display: none;*/
}

.header .material-icons {
    font-size: 10vh;
    display: flex;
    align-self: center;
}

.pp {
    font-size: 8vh;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana, Arial, sans-serif;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.button {
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
    background-color: #6d54fb;
    border: none;
    color: white;
    text-align: center;
    font-size: 2vh;
    transition: all 0.5s;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", serif;
}

.button2 {
    display: none;
}

.button2 .button {
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh 3vw 1vw 0;
    vertical-align: middle;
    display: inline-block;
    background-color: #6d54fb;
    border: none;
    color: white;
    text-align: center;
    font-size: 2vh;
    transition: all 0.5s;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", serif;
    float: right;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.lenta {
    background: #F5F7FA;
    color: black;
    /*height: 100%;*/
    width: 100%;
    position: fixed;
    overflow: scroll;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.forms {
    display: inline;
}

.filering {
    margin-left: 4%;
    font-size: 2vh;
    font-family: monospace;
}

.filter {
    font-size: large;
    width: 9vw;
    height: 2vh;
    margin-left: 1vmin;
    margin-top: 1vh;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo {
    margin-top: 1vh;
    display: none;
}

.name-date-description {
    width: 70vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user-name {
    font-family: Monospaced, monospace;
    font-weight: bold;
    font-size: 2vh;
}


.description, .hashtag {
    width: 30vw;
    font-family: Monospaced, monospace;
    font-size: 2vh;
    margin-top: 0;
    text-align: left;
}

.date{
    max-width: 50vw;
    font-family: Monospaced, monospace;
    font-size: 2vh;
    margin-top: 0;
    text-align: right;
}

.likes{
    font-family: Monospaced, monospace;
    font-size: 4vh;
    margin-top: 0;
}

.photojpg {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin-top: 1vh;
}

.photo-frame {
    width: 70vmin;
}

.icons .material-icons {
    font-size: 3vh;
}

.icons .material-icons:hover {
    cursor: pointer;
    font-size: 5vh;
    color: #254bff;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photopost {
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    margin-left: 7vw;
    font-size: 5vmin;
}

.lastChanges {
    font-family: Georgia, serif;
    font-size: 2vmax;
}

.show-more {
    display: none;
    width: 100%;
}

.author {
    font-family: Georgia, serif;
    margin-right: 5vw;
    font-size: 1.5vmax;
}

.add-new-photo {
    display: none;
    text-align: center;
    background: #F5F7FA;
    color: black;
    width: 100%;
    position: fixed;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.fill-in-informaiton {
    font-size: 2vh;
    font-family: Monospaced, monospace;
    background: #F5F7FA;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.field-names {
    display: flex;
    flex-direction: column;
    width: 15vh;
    margin-left: 5vw;
    text-align: left;
}

.field-name, .fill-in-name {
    margin: 4vh 0 4vh 0;
}

.field-name-description {
    margin: 6vh 0 8vh 0;
}

.fill-in-fields {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    text-align: left;
}

.fill-in-field {
    margin: 5% 2% 5% 2%;
}

.fill-in-date {
    font-weight: initial;
    margin: 2vh 0 5vh 0;
}

.browse {
    border-radius: 4px;
    border: none;
    background-color: #6d54fb;
    width: 12vh;
    color: white;
    padding: 1vh 2vh 1vh 2vh;
    margin: 3vh 0 4vh 0;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2vh;
}

.my-file{
    visibility: hidden;
}

.hashtags-textarea, .description-textarea {
    font-size: 2vh;
    margin: 0 0 4vh 0;
}

.add {
    width: 100%;
    display: inline;
}

.autorization-page {
    color: white;
    width: 100%;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.span-autoriz, .error-404 {
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    font-size: 6vmin;
    margin: 3vh 0 3vh 0;
}

.field-for-autoriz {
    font-family: "Comic Sans MS", serif;
    font-size: 4vmin;
    margin: 2vh 2vh 2vh 2vh;
}

.fields-autorization{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.field-names-aut, .fill-in-aut {
    display: flex;
    flex-direction: column;
    width: 30vmin;
    text-align: left;
}

.input-user-name, .password {
    height: auto;
    font-size: 4vmin;
    width: auto;
    margin: 2vh 2vh 2vh 2vh;
}

.error-page {
    color: white;
    width: 100%;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.smth-went-wrong{
    font-family: "Comic Sans MS", serif;
    font-size: 4vmin;
    margin: 2vh 2vh 5vh 2vh;
}
