body {
    margin: 0;
}

.header {
    padding-right: 4%;
    z-index: 1;
    background: black;
    position: fixed;
    overflow: no-display;
    width: 96%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    margin-left: 5vw;
    color: white;
    font-size: 2vh;
    font-family: Georgia, "Times New Roman", serif;
    text-decoration: underline;
    font-weight: bold;
    /*display: none;*/
}

.header .material-icons {
    font-size: 10vh;
    display: flex;
    align-self: center;
}

.pp {
    color: white;
    font-size: 8vh;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana, Arial, sans-serif;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.button {
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
    background-color: #6d54fb;
    border: none;
    color: white;
    text-align: center;
    font-size: 2vh;
    transition: all 0.5s;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", serif;
}

.button2 {
    display: none;
}

.button2 .button {
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh 3vw 1vw 0;
    vertical-align: middle;
    display: inline-block;
    background-color: #6d54fb;
    border: none;
    color: white;
    text-align: center;
    font-size: 2vh;
    transition: all 0.5s;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", serif;
    float: right;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.lenta {
    background: #F5F7FA;
    color: black;
    /*height: 100%;*/
    width: 100%;
    position: fixed;
    overflow: scroll;
    top: 12vh;
    bottom: 7vh;
    box-sizing: content-box;
}

.forms {
    display: inline;
}

.filering {
    margin-left: 4%;
    font-size: 2vh;
    font-family: monospace;
}

.filter {
    font-size: large;
    width: 9vw;
    height: 2vh;
    margin-left: 1vmin;
    margin-top: 1vh;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo {
    margin-top: 1vh;
    display: none;
}

.name-date-description {
    width: 70vmin;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user-name {
    font-family: Monospaced, monospace;
    font-weight: bold;
    font-size: 2vh;
}

.description, .hashtag, .date {
    font-family: Monospaced, monospace;
    font-size: 2vh;
    margin-top: 0;
}

.photojpg {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin-top: 1vh;
}

.photo-frame {
    width: 70vmin;
}

/*.icons{
    float: right;
}*/

.icons .material-icons {
    font-size: 3vh;
}

.icons .material-icons:hover {
    cursor: pointer;
    font-size: 5vh;
    color: #254bff;
}

.footer {
    color: white;
    text-align: center;
    background: black;
    box-sizing: content-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photopost {
    color: white;
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    margin-left: 7vw;
    font-size: 5vmin;
}

.lastChanges {
    color: white;
    font-family: Georgia, serif;
    font-size: 2vmax;
}

.show-more {
    display: none;
    width: 100%;
}

.author {
    color: white;
    font-family: Georgia, serif;
    margin-right: 5vw;
    font-size: 1.5vmax;
}